<div class="footer">

    <div class="info">
        <div class="logo">
            <img src="assets/img/logo-white.png" alt="">
        </div>
    </div>

    <div class="info">
        <div class="sic">
            <img src="assets/img/logo-SIC-white.png" alt="">
        </div>
    </div>

    <div class="info">
        <h5>Contacto</h5>
        <a href="">Atención al cliente</a>
        <a href="">Formulario devoluciones</a>
        <a href="">Rastrea tu pedido</a>
    </div>

    <div class="info">
        <h5>Tiendas</h5>
        <a href="">Bogotá</a>
        <a href="">Medellín</a>
        <a href="">Cali</a>
    </div>

    <div class="info">
        <h5>Políticas</h5>
        <a href="">Términos y condiciones</a>
        <a href="">Política de datos personales</a>
        <a href="">Política de garantías y devoluciones</a>
    </div>

    <div class="info">
        <h5>Síguemos</h5>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="bi bi-instagram"></i>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="bi bi-facebook"></i>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="bi bi-youtube"></i>
        </button>
    </div>
</div>