<app-navbar></app-navbar>
<div class="container">
    <div class="article">
        <div class="title">
            <h1>{{ title }}</h1>
            <img [src]="image1" alt="Imagen">
        </div>
        <div class="author">
           <img [src]="image2" alt="Kix">
           <p>{{ author }}</p>
        </div>
        <div class="info">
            <p>{{ intro }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info1 }}</p>
            <p>{{ info2 }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info3 }}</p>
            <p>{{ info4 }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info5 }}</p>
            <p>{{ info6 }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info7 }}</p>
            <p>{{ info8 }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info9 }}</p>
            <p>{{ info10 }}</p>
            <p style="margin-top: 20px; font-weight: bolder;">{{ info11 }}</p>
            <p>{{ info12 }}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>