<mat-toolbar>
    <img src="assets/img/logo.png" alt="kix-logo">
    <div class="menu">
        <a [routerLink]="['/home']">
            Inicio
        </a>
        <a [routerLink]="['/trends']">
            Tendencias
        </a>
        <a [routerLink]="['/sustainable']">
            Calzado sostenible
        </a>
        <a [routerLink]="['/cleaning']">
            Artículos
        </a>
        <a [routerLink]="['/cart']">
            <i class="bi bi-cart-fill"></i>
        </a>
    </div>
</mat-toolbar>