.prom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 74%, rgba(255,255,255,1) 100%);
    height: 40%;
}

.prom-mssg {
    text-align: center;
    font-weight: bolder;
    color: white;
}

.colaborations{
    display: flex;
}

.promotion{
    background: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}

.promotion-mssg{
    margin-top: 35vh;
}

.promotion h2{
    color: white;
    font-weight: bolder;
}

.promotion p{
    color: white;
    text-wrap: balance;
}

.imgs{
    display: flex;
}

.justdoit img{
    height: 50vh;
}

.offthewall img{
    width: 100%;
    height: 50vh;
}

.converse img{
    width: 100%;
    height: 50vh;
}

.slide{
    height: 75vh;
}

.slide img {
    width: 75vh;
    height: 75vh;
}

.info-comp{
    text-align: center;
    padding: 100px;
}

.info-comp .card{
    width: 100%;
}

.info-comp .card img{
    width: 300px;
    height: 300px;
}

.nov{
    text-align: center;
    margin-top: 20px;
    color: rgb(7, 0, 0);
}

.nov h2{
    font-weight: bolder;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-text {
    padding: 10px;
    font-weight: bolder;
}

.card-container {
    display: flex;
    justify-content: center;
}

.brands{
    text-align: center;
    margin-top: 20px;
    height: 50%;
    color: rgb(0, 0, 0);
}

.brands h2{
    font-weight: bolder;
}

.shoes-brands{
    display: flex;
    justify-content: center;
}

.brand{
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.brand img{
    height: 300px;
    width: 300px;
}

.brand:hover {
    transform: scale(1.05);
}